[package]
name = "flite-sys"
edition = "2021"

[features]
vendored = ["flite-src"]

[build-dependencies.bindgen]
version = "0.71.1"

[build-dependencies.flite-src]
optional = true
path = "../flite-src"
