name: Bump
on:
  workflow_dispatch:
    inputs:
      strategy:
        description: The strategy to bump the version number.
        required: true
        default: patch
        type: choice
        options:
          - patch
          - minor
          - major
      package:
        description: 'Target package'
        required: true
        type: string

jobs:
  bump:
    name: Bump
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Bump
        uses: hexium310/workflows/.github/actions/bump@master
        with:
          strategy: ${{ github.event.inputs.strategy }}
          package-ecosystems: '["cargo"]'
          cargo-package: ${{ github.event.inputs.package }}
          token: ${{ secrets.BUMP_TOKEN }}
