name: CD
on:
  push:
    tags:
      - '**'

permissions:
  contents: read
  packages: write
  id-token: write

jobs:
  build:
    name: Build
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Set environment variables
        run: |
          ref_name=${{ github.ref_name }}
          echo TARGETS=${ref_name%/*} >> $GITHUB_ENV
          echo VERSION=${ref_name#*/} >> $GITHUB_ENV
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: hexium310
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build image
        id: build
        uses: docker/bake-action@v6
        with:
          push: true
          targets: ${{ env.TARGETS }}
          set: |
            *.cache-from=type=gha,scope=cache-${{ env.TARGETS }}
            *.cache-to=type=gha,scope=cache-${{ env.TARGETS }},mode=max
